.wrapper {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
  color: #fff;
}

.title {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .title {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .title {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .title {
    width: 750px;
  }
}
