.insurance__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .insurance__container {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .insurance__container {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .insurance__container {
    width: 750px;
  }
}
